*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --first-color: rgb(225, 232, 237);
  --second-color: rgb(46, 44, 44);
  --border-color: rgba(0, 0, 0, 0.2);
}

body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: var(--second-color);
  background-color: var(--first-color);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  height: 13.75rem;
}
.header__title {
  margin-bottom: 0.625rem;
  font-size: 3.75rem;
  font-weight: 200;
}
.header__text {
  font-size: 1.5rem;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

h2 {
  margin-bottom: 1.875rem;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 200;
  text-transform: uppercase;
}

.transactions {
  width: 62.5rem;
  background-color: rgb(169, 129, 209);
}
.transactions__list {
  display: flex;
}
.transactions__list__incomeArea, .transactions__list__expensesArea {
  margin: 0 1.25rem;
  padding: 1.875rem;
  width: 50%;
  border: 1px solid var(--border-color);
}
.transactions__list__incomeArea__title, .transactions__list__expensesArea__title {
  font-size: 1.75rem;
  text-align: center;
}
.transactions__list__incomeArea__transaction, .transactions__list__expensesArea__transaction {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 0;
  border-bottom: 1px solid var(--border-color);
}
.transactions__list__incomeArea__transaction:last-child, .transactions__list__expensesArea__transaction:last-child {
  border-bottom: none;
}
.transactions__list__incomeArea__transaction__name, .transactions__list__expensesArea__transaction__name {
  font-size: 1.125rem;
}
.transactions__list__incomeArea__transaction__name i, .transactions__list__expensesArea__transaction__name i {
  margin-right: 0.625rem;
}
.transactions__list__incomeArea__transaction__delete, .transactions__list__expensesArea__transaction__delete {
  margin-left: 0.625rem;
  background: none;
  border: none;
  font-size: 1.125rem;
  color: var(--second-color);
  cursor: pointer;
  transition: transform 0.4s;
}
.transactions__list__incomeArea__transaction__delete:hover, .transactions__list__expensesArea__transaction__delete:hover {
  transform: rotate(-180deg);
}
.transactions__list__incomeArea__title, .transactions__list__incomeArea__transaction__amount {
  color: rgb(19, 200, 108);
  font-weight: bold;
}
.transactions__list__expensesArea__title, .transactions__list__expensesArea__transaction__amount {
  color: rgb(255, 104, 104);
  font-weight: bold;
}

.options {
  padding: 5rem 2.5rem;
  width: 31.25rem;
  border: 1px solid var(--border-color);
}
.options__data__available {
  margin-top: -0.625rem;
  text-align: center;
  font-size: 3.75rem;
}
.options__controls {
  display: flex;
  justify-content: space-around;
  margin: 3.125rem 0;
}
.options__controls__add, .options__controls__delete {
  padding: 0.75rem 1.25rem;
  color: var(--second-color);
  border: 1px solid var(--border-color);
  border-radius: 0.313rem;
  background: none;
  cursor: pointer;
  transition: color 0.4s, background 0.4s;
}
.options__controls__add:hover, .options__controls__delete:hover {
  color: var(--first-color);
  background: var(--second-color);
}
.options__controls__add i, .options__controls__delete i {
  margin-right: 0.625rem;
}/*# sourceMappingURL=style.css.map */