*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--first-color: rgb(225, 232, 237);
	--second-color: rgb(46, 44, 44);
	--border-color: rgba(0, 0, 0, 0.2);
}

body {
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	color: var(--second-color);
	background-color: var(--first-color);
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2.5rem;
	height: 13.75rem;
	&__title {
		margin-bottom: 0.625rem;
		font-size: 3.75rem;
		font-weight: 200;
	}
	&__text {
		font-size: 1.5rem;
		text-align: center;
	}
}

main {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

h2 {
	margin-bottom: 1.875rem;
	text-align: center;
	font-size: 2.25rem;
	font-weight: 200;
	text-transform: uppercase;
}

.transactions {
	width: 62.5rem;
	&__list {
		display: flex;
		&__incomeArea,
		&__expensesArea {
			margin: 0 1.25rem;
			padding: 1.875rem;
			width: 50%;
			border: 1px solid var(--border-color);
			&__title {
				font-size: 1.75rem;
				text-align: center;
			}
			&__transaction {
				display: flex;
				justify-content: space-between;
				padding: 0.625rem 0;
				border-bottom: 1px solid var(--border-color);
				&:last-child {
					border-bottom: none;
				}
				&__name {
					font-size: 1.125rem;
					i {
						margin-right: 0.625rem;
					}
				}
				&__delete {
					margin-left: 0.625rem;
					background: none;
					border: none;
					font-size: 1.125rem;
					color: var(--second-color);
					cursor: pointer;
					transition: transform 0.4s;
					&:hover {
						transform: rotate(-180deg);
					}
				}
			}
		}
		&__incomeArea {
			&__title,
			&__transaction__amount {
				color: rgb(19, 200, 108);
				font-weight: bold;
			}
		}
		&__expensesArea {
			&__title,
			&__transaction__amount {
				color: rgb(255, 104, 104);
				font-weight: bold;
			}
		}
	}
}

.options {
	padding: 5rem 2.5rem;
	width: 31.25rem;
	border: 1px solid var(--border-color);
	&__data {
		&__available {
			margin-top: -0.625rem;
			text-align: center;
			font-size: 3.75rem;
		}
	}
	&__controls {
		display: flex;
		justify-content: space-around;
		margin: 3.125rem 0;
		&__add,
		&__delete {
			padding: 0.75rem 1.25rem;
			color: var(--second-color);
			border: 1px solid var(--border-color);
			border-radius: 0.313rem;
			background: none;
			cursor: pointer;
			transition: color 0.4s, background 0.4s;
			&:hover {
				color: var(--first-color);
				background: var(--second-color);
			}
			i {
				margin-right: 0.625rem;
			}
		}
	}
	&__style {
		display: flex;
		flex-direction: column;
		align-items: center;
		&__color {
			&__light,
			&__dark {
				margin: 0 30px;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				cursor: pointer;
				transition: transform 0.4s;
				&:hover {
					transform: scale(0.8);
				}
			}
			&__light {
				background: rgb(225, 232, 237);
				border: 1px solid rgb(46, 44, 44);
			}
			&__dark {
				background: rgb(46, 44, 44);
				border: 1px solid rgb(225, 232, 237);
			}
		}
	}
}
